################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cave Gen/.vs/Cave Gen
*.vcxproj
*.filters
*.user
